In [33]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

import tensorflow as tf

from sklearn.metrics import r2_score

In [34]:
data = pd.read_csv('/content/startup_funding.csv')

In [35]:
data

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
3040,3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
3041,3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
3042,3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [37]:
##preprocessing

In [38]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop ID and high-cardinality columns
    df = df.drop(['Sr No', 'Startup Name', 'SubVertical', 'Investors Name'], axis=1)
    
    # Clean \\xc2\\xa0 examples
    df = df.applymap(lambda x: x.replace(r'\\xc2\\xa0', '') if type(x) == str else x)
    
    # Clean target column
    df['Amount in USD'] = df['Amount in USD'].apply(lambda x: x.replace(',', '') if str(x) != 'nan' else x)
    df['Amount in USD'] = df['Amount in USD'].replace({
        'undisclosed': np.NaN,
        'unknown': np.NaN,
        'Undisclosed': np.NaN,
        'N/A': np.NaN,
        '14342000+': '14342000'
    })
    
    # Drop missing target rows
    missing_target_rows = df[df['Amount in USD'].isna()].index
    df = df.drop(missing_target_rows, axis=0).reset_index(drop=True)
    
    # Drop columns with more than 25% missing values
    df = df.drop('Remarks', axis=1)
    
    # Fill categorical missing values with most frequent occurence
    for column in ['Industry Vertical', 'City  Location', 'InvestmentnType']:
        df[column] = df[column].fillna(df[column].mode()[0])
    
    # Clean date column
    df['Date dd/mm/yyyy'] = df['Date dd/mm/yyyy'].replace({
        '05/072018': '05/07/2018',
        '01/07/015': '01/07/2015',
        '22/01//2015': '22/01/2015'
    })
    
    # Extract date features
    df['Date dd/mm/yyyy'] = pd.to_datetime(df['Date dd/mm/yyyy'])
    df['Year'] = df['Date dd/mm/yyyy'].apply(lambda x: x.year)
    df['Month'] = df['Date dd/mm/yyyy'].apply(lambda x: x.month)
    df['Day'] = df['Date dd/mm/yyyy'].apply(lambda x: x.day)
    df = df.drop('Date dd/mm/yyyy', axis=1)
    
    # Convert target column to float
    df['Amount in USD'] = df['Amount in USD'].astype(np.float)
    
    # Split df into X and y
    y = df['Amount in USD']
    X = df.drop('Amount in USD', axis=1)
    
    # Train-test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    return X_train, X_test, y_train, y_test

In [39]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [40]:
X_train

,Industry Vertical,City Location,InvestmentnType,Year,Month,Day
924,eCommerce,Noida,Private Equity,2016,4,10
1108,Consumer Internet,Bangalore,Seed Funding,2016,7,21
1059,Consumer Internet,Mumbai,Private Equity,2016,8,29
160,Consumer Internet,Bengaluru,Seed/ Angel Funding,2018,8,8
1696,on-demand delivery service,Gurgaon,Seed Funding,2015,8,17
...,...,...,...,...,...,...
960,eCommerce,Ahmedabad,Private Equity,2016,10,26
905,Consumer Internet,Mumbai,Private Equity,2016,11,24
1096,eCommerce,New Delhi,Seed Funding,2016,7,15
235,Finance,Chennai,Seed / Angel Funding,2018,2,5
1061,Consumer Internet,Chennai,Private Equity,2016,8,29

In [41]:
y_train

924     4200000.0
1108     595000.0
1059    3000000.0
160     4000000.0
1696     310000.0
          ...
960     1000000.0
905     4000000.0
1096     250000.0
235      450000.0
1061    1000000.0
Name: Amount in USD, Length: 1451, dtype: float64

In [42]:
##Building Pipeline

In [43]:
def build_model():
    inputs = tf.keras.Input(shape=(532,))
    x = tf.keras.layers.Dense(128, activation='relu')(inputs)
    x = tf.keras.layers.Dense(128, activation='relu')(x)
    outputs = tf.keras.layers.Dense(1, activation='linear')(x)
    
    model = tf.keras.Model(inputs=inputs, outputs=outputs)
    
    model.compile(
        optimizer='adam',
        loss='mse'
    )
    
    return model

In [44]:
nominal_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse=False))
])

preprocessor = ColumnTransformer(transformers=[
    ('nominal', nominal_transformer, ['Industry Vertical', 'City  Location', 'InvestmentnType'])
], remainder='passthrough')

regressor = tf.keras.wrappers.scikit_learn.KerasRegressor(build_model)

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),
    ('regressor', regressor)
])

In [45]:
##training

In [46]:
model.fit(
    X_train,
    y_train,
    regressor__validation_split=0.2,
    regressor__batch_size=32,
    regressor__epochs=100,
    regressor__callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=3,
            restore_best_weights=True
        )
    ]
)

Epoch 1/100
37/37 [==============================] - 1s 9ms/step - loss: 17648137657122816.0000 - val_loss: 29475037702520832.0000
Epoch 2/100
37/37 [==============================] - 0s 5ms/step - loss: 17648134435897344.0000 - val_loss: 29475037702520832.0000
Epoch 3/100
37/37 [==============================] - 0s 4ms/step - loss: 17648134435897344.0000 - val_loss: 29475029112586240.0000
Epoch 4/100
37/37 [==============================] - 0s 4ms/step - loss: 17648122624737280.0000 - val_loss: 29475020522651648.0000
Epoch 5/100
37/37 [==============================] - 0s 5ms/step - loss: 17648109739835392.0000 - val_loss: 29474999047815168.0000
Epoch 6/100
37/37 [==============================] - 0s 4ms/step - loss: 17648088264998912.0000 - val_loss: 29474962540593152.0000
Epoch 7/100
37/37 [==============================] - 0s 3ms/step - loss: 17648037799133184.0000 - val_loss: 29474908853501952.0000
Epoch 8/100
37/37 [==============================] - 0s 3ms/step - loss: 17647981964558336.0000 - val_loss: 29474829396606976.0000
Epoch 9/100
37/37 [==============================] - 0s 3ms/step - loss: 17647892843986944.0000 - val_loss: 29474726317391872.0000
Epoch 10/100
37/37 [==============================] - 0s 3ms/step - loss: 17647783322320896.0000 - val_loss: 29474612500758528.0000
Epoch 11/100
37/37 [==============================] - 0s 3ms/step - loss: 17647681316847616.0000 - val_loss: 29474505126576128.0000
Epoch 12/100
37/37 [==============================] - 0s 3ms/step - loss: 17647584680083456.0000 - val_loss: 29474393457426432.0000
Epoch 13/100
37/37 [==============================] - 0s 3ms/step - loss: 17647466568482816.0000 - val_loss: 29474264608407552.0000
Epoch 14/100
37/37 [==============================] - 0s 3ms/step - loss: 17647339866947584.0000 - val_loss: 29474105694617600.0000
Epoch 15/100
37/37 [==============================] - 0s 3ms/step - loss: 17647178805673984.0000 - val_loss: 29473908126121984.0000
Epoch 16/100
37/37 [==============================] - 0s 3ms/step - loss: 17646985532145664.0000 - val_loss: 29473682640338944.0000
Epoch 17/100
37/37 [==============================] - 0s 3ms/step - loss: 17646746087718912.0000 - val_loss: 29473416352366592.0000
Epoch 18/100
37/37 [==============================] - 0s 3ms/step - loss: 17646483020972032.0000 - val_loss: 29473077049950208.0000
Epoch 19/100
37/37 [==============================] - 0s 3ms/step - loss: 17646170562101248.0000 - val_loss: 29472731305082880.0000
Epoch 20/100
37/37 [==============================] - 0s 3ms/step - loss: 17645826964717568.0000 - val_loss: 29472316840738816.0000
Epoch 21/100
37/37 [==============================] - 0s 3ms/step - loss: 17645427532759040.0000 - val_loss: 29471872311623680.0000
Epoch 22/100
37/37 [==============================] - 0s 3ms/step - loss: 17644989446094848.0000 - val_loss: 29471386980319232.0000
Epoch 23/100
37/37 [==============================] - 0s 3ms/step - loss: 17644516999692288.0000 - val_loss: 29470817897152512.0000
Epoch 24/100
37/37 [==============================] - 0s 3ms/step - loss: 17643971538845696.0000 - val_loss: 29470231634116608.0000
Epoch 25/100
37/37 [==============================] - 0s 3ms/step - loss: 17643404603162624.0000 - val_loss: 29469563766702080.0000
Epoch 26/100
37/37 [==============================] - 0s 3ms/step - loss: 17642741030715392.0000 - val_loss: 29468820737359872.0000
Epoch 27/100
37/37 [==============================] - 0s 3ms/step - loss: 17642030213627904.0000 - val_loss: 29468041200795648.0000
Epoch 28/100
37/37 [==============================] - 0s 2ms/step - loss: 17641307585380352.0000 - val_loss: 29467126372761600.0000
Epoch 29/100
37/37 [==============================] - 0s 3ms/step - loss: 17640452886888448.0000 - val_loss: 29466288854138880.0000
Epoch 30/100
37/37 [==============================] - 0s 3ms/step - loss: 17639590672203776.0000 - val_loss: 29465305306628096.0000
Epoch 31/100
37/37 [==============================] - 0s 3ms/step - loss: 17638674770427904.0000 - val_loss: 29464250892156928.0000
Epoch 32/100
37/37 [==============================] - 0s 3ms/step - loss: 17637622503440384.0000 - val_loss: 29463194330202112.0000
Epoch 33/100
37/37 [==============================] - 0s 2ms/step - loss: 17636528360521728.0000 - val_loss: 29461903692529664.0000
Epoch 34/100
37/37 [==============================] - 0s 3ms/step - loss: 17635425627668480.0000 - val_loss: 29460647414595584.0000
Epoch 35/100
37/37 [==============================] - 0s 3ms/step - loss: 17634198340763648.0000 - val_loss: 29459369661825024.0000
Epoch 36/100
37/37 [==============================] - 0s 3ms/step - loss: 17632957095215104.0000 - val_loss: 29457963060035584.0000
Epoch 37/100
37/37 [==============================] - 0s 3ms/step - loss: 17631671826251776.0000 - val_loss: 29456483443802112.0000
Epoch 38/100
37/37 [==============================] - 0s 3ms/step - loss: 17630236233433088.0000 - val_loss: 29455096169365504.0000
Epoch 39/100
37/37 [==============================] - 0s 3ms/step - loss: 17628792050679808.0000 - val_loss: 29453498441531392.0000
Epoch 40/100
37/37 [==============================] - 0s 3ms/step - loss: 17627283443417088.0000 - val_loss: 29451716030103552.0000
Epoch 41/100
37/37 [==============================] - 0s 2ms/step - loss: 17625637397200896.0000 - val_loss: 29450062467694592.0000
Epoch 42/100
37/37 [==============================] - 0s 2ms/step - loss: 17624035374399488.0000 - val_loss: 29448211336790016.0000
Epoch 43/100
37/37 [==============================] - 0s 3ms/step - loss: 17622316313739264.0000 - val_loss: 29446373090787328.0000
Epoch 44/100
37/37 [==============================] - 0s 2ms/step - loss: 17620483436445696.0000 - val_loss: 29444403848282112.0000
Epoch 45/100
37/37 [==============================] - 0s 3ms/step - loss: 17618633379282944.0000 - val_loss: 29442453933129728.0000
Epoch 46/100
37/37 [==============================] - 0s 3ms/step - loss: 17616751109865472.0000 - val_loss: 29440194780332032.0000
Epoch 47/100
37/37 [==============================] - 0s 3ms/step - loss: 17614713147883520.0000 - val_loss: 29438169703251968.0000
Epoch 48/100
37/37 [==============================] - 0s 2ms/step - loss: 17612699881963520.0000 - val_loss: 29435966385029120.0000
Epoch 49/100
37/37 [==============================] - 0s 3ms/step - loss: 17610665141207040.0000 - val_loss: 29433518253670400.0000
Epoch 50/100
37/37 [==============================] - 0s 3ms/step - loss: 17608384513572864.0000 - val_loss: 29431306345512960.0000
Epoch 51/100
37/37 [==============================] - 0s 3ms/step - loss: 17606209112637440.0000 - val_loss: 29428692857913344.0000
Epoch 52/100
37/37 [==============================] - 0s 3ms/step - loss: 17603802857209856.0000 - val_loss: 29426225399201792.0000
Epoch 53/100
37/37 [==============================] - 0s 3ms/step - loss: 17601462100033536.0000 - val_loss: 29423648418824192.0000
Epoch 54/100
37/37 [==============================] - 0s 3ms/step - loss: 17599005378740224.0000 - val_loss: 29420953326845952.0000
Epoch 55/100
37/37 [==============================] - 0s 3ms/step - loss: 17596489601646592.0000 - val_loss: 29418204547776512.0000
Epoch 56/100
37/37 [==============================] - 0s 3ms/step - loss: 17593886851465216.0000 - val_loss: 29415541668052992.0000
Epoch 57/100
37/37 [==============================] - 0s 3ms/step - loss: 17591267995156480.0000 - val_loss: 29412614647840768.0000
Epoch 58/100
37/37 [==============================] - 0s 3ms/step - loss: 17588531027247104.0000 - val_loss: 29409468584296448.0000
Epoch 59/100
37/37 [==============================] - 0s 3ms/step - loss: 17585649104191488.0000 - val_loss: 29406762754899968.0000
Epoch 60/100
37/37 [==============================] - 0s 3ms/step - loss: 17582912136282112.0000 - val_loss: 29403784195080192.0000
Epoch 61/100
37/37 [==============================] - 0s 3ms/step - loss: 17580165504696320.0000 - val_loss: 29400494250131456.0000
Epoch 62/100
37/37 [==============================] - 0s 3ms/step - loss: 17577018367410176.0000 - val_loss: 29397644539330560.0000
Epoch 63/100
37/37 [==============================] - 0s 3ms/step - loss: 17574306095562752.0000 - val_loss: 29394021734416384.0000
Epoch 64/100
37/37 [==============================] - 0s 3ms/step - loss: 17571124598538240.0000 - val_loss: 29390852048551936.0000
Epoch 65/100
37/37 [==============================] - 0s 3ms/step - loss: 17568021484666880.0000 - val_loss: 29387349502722048.0000
Epoch 66/100
37/37 [==============================] - 0s 3ms/step - loss: 17564720802299904.0000 - val_loss: 29383814744637440.0000
Epoch 67/100
37/37 [==============================] - 0s 3ms/step - loss: 17561354621681664.0000 - val_loss: 29380610699034624.0000
Epoch 68/100
37/37 [==============================] - 0s 3ms/step - loss: 17558218221813760.0000 - val_loss: 29377054466113536.0000
Epoch 69/100
37/37 [==============================] - 0s 2ms/step - loss: 17554963710345216.0000 - val_loss: 29373728013942784.0000
Epoch 70/100
37/37 [==============================] - 0s 3ms/step - loss: 17551737116164096.0000 - val_loss: 29370161043603456.0000
Epoch 71/100
37/37 [==============================] - 0s 3ms/step - loss: 17548470793535488.0000 - val_loss: 29366456634310656.0000
Epoch 72/100
37/37 [==============================] - 0s 3ms/step - loss: 17545013344862208.0000 - val_loss: 29362994890670080.0000
Epoch 73/100
37/37 [==============================] - 0s 3ms/step - loss: 17541576297283584.0000 - val_loss: 29359129420103680.0000
Epoch 74/100
37/37 [==============================] - 0s 2ms/step - loss: 17538111332417536.0000 - val_loss: 29355382061137920.0000
Epoch 75/100
37/37 [==============================] - 0s 3ms/step - loss: 17534573353107456.0000 - val_loss: 29351589605015552.0000
Epoch 76/100
37/37 [==============================] - 0s 3ms/step - loss: 17530989202898944.0000 - val_loss: 29347837951082496.0000
Epoch 77/100
37/37 [==============================] - 0s 2ms/step - loss: 17527436191203328.0000 - val_loss: 29343869401300992.0000
Epoch 78/100
37/37 [==============================] - 0s 3ms/step - loss: 17523679168561152.0000 - val_loss: 29340220826583040.0000
Epoch 79/100
37/37 [==============================] - 0s 3ms/step - loss: 17520124009381888.0000 - val_loss: 29336071888175104.0000
Epoch 80/100
37/37 [==============================] - 0s 3ms/step - loss: 17516414231379968.0000 - val_loss: 29332096895942656.0000
Epoch 81/100
37/37 [==============================] - 0s 3ms/step - loss: 17512531580944384.0000 - val_loss: 29328521335668736.0000
Epoch 82/100
37/37 [==============================] - 0s 3ms/step - loss: 17508939914543104.0000 - val_loss: 29324121141673984.0000
Epoch 83/100
37/37 [==============================] - 0s 3ms/step - loss: 17505004650758144.0000 - val_loss: 29320328685551616.0000
Epoch 84/100
37/37 [==============================] - 0s 3ms/step - loss: 17500812762677248.0000 - val_loss: 29315020105973760.0000
Epoch 85/100
37/37 [==============================] - 0s 2ms/step - loss: 17496721806327808.0000 - val_loss: 29311337171517440.0000
Epoch 86/100
37/37 [==============================] - 0s 3ms/step - loss: 17493212818046976.0000 - val_loss: 29307443783663616.0000
Epoch 87/100
37/37 [==============================] - 0s 3ms/step - loss: 17489472975273984.0000 - val_loss: 29303458054012928.0000
Epoch 88/100
37/37 [==============================] - 0s 3ms/step - loss: 17485803999461376.0000 - val_loss: 29299407899852800.0000
Epoch 89/100
37/37 [==============================] - 0s 3ms/step - loss: 17482011543339008.0000 - val_loss: 29295527396900864.0000
Epoch 90/100
37/37 [==============================] - 0s 3ms/step - loss: 17478205128572928.0000 - val_loss: 29291277526761472.0000
Epoch 91/100
37/37 [==============================] - 0s 3ms/step - loss: 17474268791046144.0000 - val_loss: 29287641836945408.0000
Epoch 92/100
37/37 [==============================] - 0s 3ms/step - loss: 17470612700135424.0000 - val_loss: 29283349017133056.0000
Epoch 93/100
37/37 [==============================] - 0s 3ms/step - loss: 17466581873328128.0000 - val_loss: 29279625280487424.0000
Epoch 94/100
37/37 [==============================] - 0s 3ms/step - loss: 17462648757026816.0000 - val_loss: 29274817064599552.0000
Epoch 95/100
37/37 [==============================] - 0s 3ms/step - loss: 17458565316870144.0000 - val_loss: 29270607996649472.0000
Epoch 96/100
37/37 [==============================] - 0s 3ms/step - loss: 17454544153739264.0000 - val_loss: 29267083975983104.0000
Epoch 97/100
37/37 [==============================] - 0s 3ms/step - loss: 17450754918842368.0000 - val_loss: 29262642979799040.0000
Epoch 98/100
37/37 [==============================] - 0s 3ms/step - loss: 17446542629666816.0000 - val_loss: 29257781076819968.0000
Epoch 99/100
37/37 [==============================] - 0s 3ms/step - loss: 17442300275720192.0000 - val_loss: 29253874804064256.0000
Epoch 100/100
37/37 [==============================] - 0s 3ms/step - loss: 17438444468830208.0000 - val_loss: 29249442397814784.0000

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('nominal',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['Industry Vertical',
                                                   'City  Location',
                                                   'InvestmentnType'])])),
                ('scaler', StandardScaler()),
                ('regressor',
                 <keras.wrappers.scikit_learn.KerasRegressor object at 0x7f6295e9a810>)])

In [47]:
##results

In [48]:
y_pred = model.predict(X_test)

rmse = np.sqrt(np.mean((y_test - y_pred)**2))
print("     Test RMSE: {:.2f}".format(rmse))

r2 = r2_score(y_test, y_pred)
print("Test R^2 Score: {:.5f}".format(r2))

     Test RMSE: 56457803.47
Test R^2 Score: -0.02424